.quiz-title {
    text-align: center;
    margin-top: 3rem;
}
.quiz-lead {
    margin-top: -1.5rem;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 300;
}
.quiz-header {
    display: flex;
    color: #ebebeb;
}
.quiz-header-close, .quiz-header-help {
    filter: brightness(0) saturate(100%) invert(66%) sepia(94%) saturate(1%) hue-rotate(6deg) brightness(106%) contrast(89%);
    cursor: pointer;
}
.quiz-header-progress {
    width: 100%;
    height: 24px;
    background-color: #ebebeb;
    border-radius: 20px;
    line-height: 1;
    font-size: 24px;
    margin: 0 6px;
}
.quiz-header-progress div {
    box-sizing: inherit;
    background-color: #ebebeb;
    border-radius: 20px;
    width: 0%;
    transition: width .5s;
}
.quiz-notes {
    text-align: center;
}
.quiz-notes-button {
    margin: 5px;
    padding: 8px 15px 11px;
    border-radius: 10px;
    border: 2px solid #d2d4d8;
    background-image: none;
    min-width: 4%;
    max-width: 100%;
    text-align: center;
    color: #000;
    transition: 0.25s;
}

.quiz-notes-button[disabled] {
    color: #e0e0e0;
    border-color: #e0e0e0;
    box-shadow: none;
    background-color: #fff;
}
.quiz-notes-button.false {
    color: #fff;
    background-color: #db4437;
    border-color: #db4437;
    transition: 0.25s;
}
.quiz-notes-button.true {
    color: #fff;
    background-color: #72ac51;
    border-color: #72ac51;
    transition: 0.25s;
}
.quiz-score {
    width: 100%;
}
.quiz--write-note .quiz-score {
    cursor: pointer;
}
.quiz-score-upper-ledger-lines, .quiz-score-lines, .quiz-score-lower-ledger-lines  {
    stroke: #555;
}
.quiz-score-draggable-note {
    fill: #999;
}
.quiz-score {
    font-family: "Bravura", sans-serif;
}
.quiz-score-key {
    font-size: 84px;
}
.quiz-score-draggable-note, .quiz-score-selected-note {
    font-size: 70px;
}
.quiz-score-x-coordinate, .quiz-score-y-coordinate {
    stroke: #eee;
}
.quiz-debug {
    text-align: center;
}
.quiz-result {
    text-align: center;
}
.quiz-result-boxes {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 2rem;
    margin: 2.5rem 0;
}
.quiz-result-boxes-points {
    background-color: #ffc802;
    border-color: #ffc802;
    color: #fff;
    min-width: 12rem;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
}
.quiz-result-boxes-points-value {
    background-color: #fff;
    color: #ffc802;
    line-height: 3;
    border-radius: 8px;
}
.quiz-result-boxes-accuracy {
    background-color: #72ac52;
    border-color: #72ac52;
    color: #fff;
    min-width: 12rem;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
}
.quiz-result-boxes-accuracy-value {
    background-color: #fff;
    color: #72ac52;
    line-height: 3;
    border-radius: 8px;
}
.quiz-result-again-button {
    margin: 5px;
    padding: 8px 15px 11px;
    border-radius: 10px;
    border: 2px solid #d2d4d8;
    background-image: none;
    min-width: 4%;
    max-width: 100%;
    text-align: center;
    color: #000;
}
.quiz-result-next-button {
    margin: 5px;
    padding: 8px 15px 11px;
    border-radius: 10px;
    border: 2px solid #d2d4d8;
    background-image: none;
    min-width: 4%;
    max-width: 100%;
    text-align: center;
    color: #000;
}
.is-hidden {
    display: none;
}
