ADMIN_EMAIL=
ADMIN_PASS=
ADMIN_USER=
ADVERTISEMENT_BLACKLIST=me@example.com,you@example.com
AMAZON_PAAPI5_ACCESS_KEY=
AMAZON_PAAPI5_HOST=
AMAZON_PAAPI5_MARKETPLACE=
AMAZON_PAAPI5_PARTNER_TAG=
AMAZON_PAAPI5_REGION=
AMAZON_PAAPI5_SECRET_KEY=
CDN_HOST=
COOKIE_VALIDATION_KEY=
DEBUG_KEY=
ENABLE_REDIRECTS=true
ENCRYPTION_KEY=
HOST_INFO=https://www.electricbass.ch
LOG_EMAIL_TARGET_TO=
MAILER_ENCRYPTION=
MAILER_HOST=
MAILER_PASSWORD=
MAILER_PORT=
MAILER_USERNAME=
MYSQL_DB=
MYSQL_HOST=
MYSQL_PASS=
MYSQL_USER=
SENDER_EMAIL=
TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_SECRET=
TWITTER_USER_SECRET=
TWITTER_USER_TOKEN=
YII_DEBUG=true
YII_ENV=dev
YOUTUBE_API_KEY=
