includes:
	- vendor/proget-hq/phpstan-yii2/extension.neon
parameters:
	level: 2
	bootstrapFiles:
	    - .phpstan/constants.php
	scanFiles:
	    - vendor/yiisoft/yii2/Yii.php
	paths:
		- assets
		- commands
		- components
		- config
		- controllers
		- filters
		- helpers
		- mail
		- messages
		- migrations
		- models
		- modules
		#- tests
		- traits
		- views
		- web
		- widgets
	yii2:
	    config_path: %rootDir%/../../../config/test.php
