includes:
	- vendor/proget-hq/phpstan-yii2/extension.neon
parameters:
	level: 6
	bootstrapFiles:
	    - .phpstan/constants.php
	scanFiles:
	    - vendor/yiisoft/yii2/Yii.php
	stubFiles:
	    - .phpstan/stubs/View.stub
	paths:
		- assets
		- commands
		- components
		- config
		- controllers
		- entities
		- filters
		- helpers
		- mail
		- messages
		- migrations
		- models
		- modules
		#- tests
		- traits
		- views
		#- web
		- widgets
	excludePaths:
	    analyse:
	        - components/AmazonProductDetail.php
	yii2:
	    config_path: %rootDir%/../../../config/test.php
	ignoreErrors:
	    - '#Call to an undefined method yii\\base\\View::registerLinkTag#'
	    - '#Call to an undefined method yii\\base\\Component::getRoute#'
	    - '#Access to an undefined property yii\\base\\Application::\$shortcode#'
	    - '#PHPDoc tag @var for variable \$[a-zA-Z0-9\\_]+ has no value type specified in iterable type app\\models#'
	    - '#Method .+ has parameter .+ with no value type specified in iterable type app\\models\\.+#'
