parameters:
	level: 1
	bootstrapFiles:
	    - .phpstan/constants.php
	scanFiles:
	    - vendor/yiisoft/yii2/Yii.php
	    - vendor/yiisoft/yii2/base/Widget.php
	    - vendor/yiisoft/yii2/base/ViewContextInterface.php
	stubFiles:
	    - .phpstan/stubs/View.stub
	paths:
		- assets
		- components
		- config
		- features
		- helpers
		- mail
		- messages
		- migrations
		- models
		- modules
		#- tests
		- views
		#- web
		- widgets
	excludePaths:
	    analyse:
	        - features/links/Command.php
	        - components/AmazonProductDetail.php
	        - components/Shortcode.php
	        - components/Template.php
