.comments__listTitle {
  color: #423f37;
}

.comments__formTitle {
  color: #423f37;
}

.comments__list {
  margin-bottom: 2.5rem;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid #ddd;
}

.comments__rules {
  font-size: 0.8rem;
  padding: 1rem;
  background-color: #f5f5f5;
}

.comments__rules p:last-child {
  margin-bottom: 0;
}

.comments__form .form__text,
.comments__form .form__name,
.comments__form .form__check {
  background-color: #f8f8f8;
}

.comments__form .form__labelCheckbox a {
  color: #5F5C52;
  text-decoration: underline;
}
