up-modal .navbar {
    display: none;
}
up-modal .navbar-border-bottom {
    display: none;
}
up-modal .sidebar {
    display: none;
}
up-modal .container--content {
    max-width: 100%;
}
up-modal .content-wrap {
    padding-right: calc(var(--bs-gutter-x) * .5);
    width: 100%;
}
