.websites {
  margin-top: 1.5rem;
}

.websites__cell {
  margin-bottom: 1.5rem;
}

.websites__cover {
  margin-bottom: 0.5rem;
}

.websites__link {
  color: #222;
}

.websites__link:hover {
  color: #222;
}

.websites__title {
  font-size: 0.8rem;
  line-height: 1.4;
}
