.fretboard {
    margin-bottom: 1rem;
}
.fretboard__noteSymbol--R {
    fill: #ff0000;
}
.fretboard__noteSymbol--d2 {
    fill: #ff6600;
}    
.fretboard__noteSymbol--2 {
    fill: #ff9900;
}
.fretboard__noteSymbol--m3 {
    fill: #FFCC00;
}
.fretboard__noteSymbol--3 {
    fill: #ffff00;
}
.fretboard__noteSymbol--4 {
    fill: #00aa00;
}
.fretboard__noteSymbol--d5 {
    fill: #007777;
}
.fretboard__noteSymbol--5 {
    fill: #0099ff;
}
.fretboard__noteSymbol--a5 {
    fill: #6600cc;
}    
.fretboard__noteSymbol--6 {
    fill: #660099;
}
.fretboard__noteSymbol--b7 {
    fill: #990088;
}
.fretboard__noteSymbol--7 {
    fill: #CC00AA;
}
.fretboard__noteText {
    font-weight: 600;
}
.fretboard__noteText--R {
    fill: #222222;
}
.fretboard__noteText--d2 {
    fill: #333333;
    letter-spacing: -0.2em;
}
.fretboard__noteText--2 {
    fill: #333333;
}
.fretboard__noteText--m3 {
    fill: #555555;
    letter-spacing: -0.2em;
}    
.fretboard__noteText--3 {
    fill: #333333;
}
.fretboard__noteText--4 {
    fill: #ffffff;
}
.fretboard__noteText--d5 {
    fill: #ffffff;
    letter-spacing: -0.2em;
}    
.fretboard__noteText--5 {
    fill: #ffffff;
}
.fretboard__noteText--a5 {
    fill: #ffffff;
    letter-spacing: -0.15em;
}
.fretboard__noteText--6 {
    fill: #ffffff;
}
.fretboard__noteText--b7 {
    fill: #ffffff;
    letter-spacing: -0.2em;
}    
.fretboard__noteText--7 {
    fill: #ffffff;
}
.fretboard__fretNumber {
    fill: #cccccc;
}
