<!-- BEGIN MAIN_TITLE --><p><b>Töne</b>: {TXT_MESSAGE_INTERVAL}</p><!-- END MAIN_TITLE -->
<table class="w-fretboard">
	<tr>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<!-- BEGIN LAGEN2 --><td><b>{LAGE_NAME}</b></td><!-- END LAGEN2 -->
	</tr>
	<!-- BEGIN ROW2 -->
	<!-- BEGIN STRING_START2 -->
	<tr>
		<td>&nbsp;&nbsp;</td>
		<td><span class="{CLASS_TONES}">{STRING_NAME}</span>&nbsp;&nbsp;</td>
		<!-- END STRING_START2 -->
		<!-- BEGIN COL2 --><td class="{CLASS_POSITION}"><img src="{NODES}" alt="" width="{NODES_WIDTH}" height="{NODES_HEIGHT}" /><img src="{PICTURE}" alt="" width="{PICTURE_WIDTH}" height="{PICTURE_HEIGHT}" /></td><!-- END COL2 -->
	<!-- BEGIN STRING_END2 -->
	</tr>
	<!-- END STRING_END2 -->
	<!-- END ROW2 -->
</table>
<br>
<!-- BEGIN SHOW_RESULTS -->
<!-- BEGIN RESULT_TITLE -->
Weitere Resultate
<!-- END RESULT_TITLE -->
<!-- BEGIN ACTIVE_INTERVAL_RESULTS -->
[{INTERVAL_RESULTS}]
<!-- END ACTIVE_INTERVAL_RESULTS -->
<!-- BEGIN MORE_INTERVAL_RESULTS -->
[<a href="{LNK_INTERVAL_RESULTS}">{INTERVAL_RESULTS}</a>]
<!-- END MORE_INTERVAL_RESULTS -->
<!-- END SHOW_RESULTS -->
{TXT_RESULT_MESSAGE}

<div style="clear:both"></div>